-
	var dropDownList = ["Rượu Chivas", "Hàng độc - rượu độc đáo", "Johney Walker", "Rượu Wisky", "Rượu Remy Martin","Rượu Glenmorangie"]

-
	var newList = [
		{
			type: "sale",
			img: "/assets/img/product/vangdalat1.jpg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "new",
			img: "/assets/img/product/vangdalat2.jpeg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "hot",
			img: "/assets/img/product/vangdalat3.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat4.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		}
	]

-
	var bestSellList = [
		{
			type: "",
			img: "/assets/img/product/vangdalat1.jpg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat2.jpeg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat3.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat4.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		}
	]

-
	var newsList = [
		{
			author: "Giangle",
			title: "VANG THĂNG LONG CLASSIC",
			date: "13/11/2021",
			comments: "60",
			desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...",
			img: "/assets/img/news/news1.png"
		},
		{
			author: "Giangle",
			title: "VANG THĂNG LONG CLASSIC",
			date: "13/11/2021",
			comments: "60",
			desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...",
			img: "/assets/img/news/news2.png"
		}
	]

-
	var ruouVang = [
		{
			name: "Rượu vang Pháp",
			quantity: "44"
		},
		{
			name: "Rượu vang Úc",
			quantity: "34"
		},
		{
			name: "Rượu vang Mỹ",
			quantity: "16"
		},
		{
			name: "Rượu vang Chile",
			quantity: "48"
		},
		{
			name: "Rượu vang Philips",
			quantity: "1"
		},
		{
			name: "Rượu vang Nam Phi",
			quantity: "20"
		},
		{
			name: "Rượu vang Ý",
			quantity: "2"
		}
	]

-
	var ruouNgoai = [
		{
			name: "Rượu Chivas",
			quantity: "26"
		},
		{
			name: "Hàng độc - rượu độc đáo",
			quantity: "36"
		},
		{
			name: "Johney Walker",
			quantity: "46",
			isActive: true,
		},
		{
			name: "Rượu Wisky",
			quantity: "24"
		},
		{
			name: "Rượu Remy Martin",
			quantity: "16"
		},
		{
			name: "Rượu Glenmorangie",
			quantity: "26"
		},
		{
			name: "Rượu Ballantine's",
			quantity: "7"
		},
		{
			name: "Rượu Cognac",
			quantity: "40"
		},
		{
			name: "Rượu Vodka ",
			quantity: "93"
		},
		{
			name: "Rượu Macallan ",
			quantity: "19"
		},
		{
			name: "Rượu Brandy ",
			quantity: "62"
		},
		{
			name: "Rượu Hennessy ",
			quantity: "20"
		},
		{
			name: "Rượu Gin - Tequila - Liqueur - Rượu mùi",
			quantity: "36"
		},
		{
			name: "Rượu Champagne  ",
			quantity: "12"
		},
		{
			name: "Rượu Single malt Scotch whisky",
			quantity: "47"
		},
		{
			name: "Rượu Spirits",
			quantity: "4"
		},
	]

-
	var tagsProducts = [
		"Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"
	]

-
	var ProductsList = [
		{
			type: "",
			img: "/assets/img/product/rượu-walker-1.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/rượu-walker-2.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/rượu-walker-3.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/rượu-walker-4.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/rượu-walker-5.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/rượu-walker-6.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/rượu-walker-7.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/rượu-walker-8.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/rượu-walker-9.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		}
	]

-
	var introBreadcrumbItems = [
		{
			label: "Trang chủ",
			href: "index.html",
			active: ""
		},
		{
			label: "Giới thiệu",
			href: "introduction.html",
			active: true
		},
	]

-
	var cartBreadcrumbItems = [
		{
			label: "Trang chủ",
			href: "index.html",
			active: ""
		},
		{
			label: "Sản phẩm",
			href: "products.html",
			active: ""
		},
		{
			label: "Giỏ hàng",
			href: "cart.html",
			active: true
		},
	]

-
	var contactBreadcrumbItems = [
		{
			label: "Trang chủ",
			href: "index.html",
			active: ""
		},
		{
			label: "Địa chỉ",
			href: "contact.html",
			active: true
		},
	]

-
	var detailBreadcrumbItems = [
		{
			label: "Trang chủ",
			href: "index.html",
			active: ""
		},
		{
			label: "Sản phẩm",
			href: "products.html",
			active: ""
		},
		{
			label: "Rượu vang đỏ",
			href: "product-detail.html",
			active: true
		},
	]
	
-
	var cartList = [
		{
			img: "/assets/img/product/rượu-walker-6.png",
			name: "RƯỢU JOHNEY WALKER",
			price: "350.000đ",
			quantity: "1",
			total: "350.000đ",
		},
		{
			img: "/assets/img/product/rượu-walker-5.png",
			name: "RƯỢU JOHNEY WALKER",
			price: "350.000đ",
			quantity: "1",
			total: "350.000đ",
		},
		{
			img: "/assets/img/product/rượu-walker-4.png",
			name: "RƯỢU JOHNEY WALKER",
			price: "350.000đ",
			quantity: "1",
			total: "350.000đ",
		},
		{
			img: "/assets/img/product/rượu-walker-3.png",
			name: "RƯỢU JOHNEY WALKER",
			price: "350.000đ",
			quantity: "1",
			total: "350.000đ",
		}
	]

-
	var tabsList = [
		{
			img: "/assets/img/product/rượu-nho-vàng.jpg",
			name: "rượu nho vàng",
			paneid: "tabpane1",
			id: "tab1",
			active: ""
		},
		{
			img: "/assets/img/product/rượu-nho-vàng.jpg",
			name: "rượu nho vàng",
			paneid: "tabpane2",
			id: "tab2",
			active: ""
		},
		{
			img: "/assets/img/product/rượu-nho-đỏ.png",
			name: "rượu nho đỏ",
			paneid: "tabpane3",
			id: "tab3",
			active: true
		},
		{
			img: "/assets/img/product/rượu-nho-đỏ.png",
			name: "rượu nho đỏ",
			paneid: "tabpane4",
			id: "tab4",
			active: ""
		},
		{
			img: "/assets/img/product/rượu-nho-đen.jpg",
			name: "rượu nho đen",
			paneid: "tabpane5",
			id: "tab5",
			active: ""
		},
		{
			img: "/assets/img/product/rượu-nho-đen.jpg",
			name: "rượu nho đen",
			paneid: "tabpane6",
			id: "tab6",
			active: ""
		},
	]

-
	var imagesList = [
		{
			img: "/assets/img/product/rượu-nho-vàng-lg.jpg",
			name: "rượu nho vàng",
			tabid: "tab1",
			active: "",
			id: "tabpane1"
		},
		{
			img: "/assets/img/product/rượu-nho-vàng-lg.jpg",
			name: "rượu nho vàng",
			tabid: "tab2",
			active: "",
			id: "tabpane2"
		},
		{
			img: "/assets/img/product/rượu-nho-đỏ-lg.png",
			name: "rượu nho đỏ",
			tabid: "tab3",
			active: true,
			id: "tabpane3"
		},
		{
			img: "/assets/img/product/rượu-nho-đỏ-lg.png",
			name: "rượu nho đỏ",
			tabid: "tab4",
			active: "",
			id: "tabpane2"
		},
		{
			img: "/assets/img/product/rượu-nho-đen-lg.jpg",
			name: "rượu nho đen",
			tabid: "tab5",
			active: "",
			id: "tabpane5"
		},
		{
			img: "/assets/img/product/rượu-nho-đen-lg.jpg",
			name: "rượu nho đen",
			tabid: "tab6",
			active: "",
			id: "tabpane6"
		},
	]

-
	var detailOptionColors = [
		{
			color: "yellow",
			active: ""
		},
		{
			color: "red",
			active: true
		},
		{
			color: "black",
			active: ""
		}
	]

-
	var socialList = [
		{
			socialName: "fb",
			socialLogo: "fab fa-facebook-square",
			socialLabel: "Like",
			popover: "0"
		},
		{
			socialName: "twitter",
			socialLogo: "fab fa-twitter",
			socialLabel: "Twitter",
			popover: "0"
		},
		{
			socialName: "google",
			socialLogo: "fab fa-google-plus-g",
			socialLabel: "",
			popover: "0"
		},
		{
			socialName: "linkedin",
			socialLogo: "fab fa-linkedin-in",
			socialLabel: "Share",
			popover: ""
		},
		{
			socialName: "printerest",
			socialLogo: "fab fa-pinterest-p",
			socialLabel: "",
			popover: ""
		}
	]

-
	var detailTabs = [
		{
			tabId: "detail-tab-1",
			tabpaneId: "detail-tabpane-1",
			content: "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.",
			active: true,
			tabName: "ĐẶC ĐIỂM NỔI BẬT"
		},
		{
			tabId: "detail-tab-2",
			tabpaneId: "detail-tabpane-2",
			content: "Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.",
			active: "",
			tabName: "THÔNG TIN SẢN PHẨM"
		},
		{
			tabId: "detail-tab-3",
			tabpaneId: "detail-tabpane-3",
			content: "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.",
			active: "",
			tabName: "ĐÁNH GIÁ"
		}
	]

-
	var detailRelatedList = [
		{
			type: "",
			img: "/assets/img/product/vangdalat1.jpg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat2.jpeg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat3.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat4.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		}
	]
