
-
	var dropDownList = ["Rượu Chivas", "Hàng độc - rượu độc đáo", "Johney Walker", "Rượu Wisky", "Rượu Remy Martin","Rượu Glenmorangie"]

-
	var newList = [
		{
			type: "sale",
			img: "/assets/img/product/vangdalat1.jpg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "new",
			img: "/assets/img/product/vangdalat2.jpeg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "hot",
			img: "/assets/img/product/vangdalat3.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat4.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		}
	]

-
	var bestSellList = [
		{
			type: "",
			img: "/assets/img/product/vangdalat1.jpg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat2.jpeg",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat3.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		},
		{
			type: "",
			img: "/assets/img/product/vangdalat4.png",
			name:"RƯỢU VANG ĐÀ LẠT",
			price:"370.000đ",
			oldPrice:"450.000đ"
		}
	]

-
	var newsList = [
		{
			author: "Giangle",
			title: "VANG THĂNG LONG CLASSIC",
			date: "13/11/2021",
			comments: "60",
			desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...",
			img: "/assets/img/news/news1.png"
		},
		{
			author: "Giangle",
			title: "VANG THĂNG LONG CLASSIC",
			date: "13/11/2021",
			comments: "60",
			desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...",
			img: "/assets/img/news/news2.png"
		}
	]