

@font-face{
    font-family: 'utm-caviar';
    src: url('/assets/font/UTM-Caviar.ttf');
}

@font-face{
    font-family: 'utm-alpine-kt';
    src: url('/assets/font/UTM-Alpine-KT.ttf');
}
@font-face{
    font-family: 'uvf-didot';
    src: url('/assets/font/UVF-Didot.ttf');
}
@font-face{
    font-family: 'lobster';
    src: url('/assets/font/Lobster-Regular.ttf');
}
@font-face{
    font-family: 'utm-aquarelle';
    src: url('/assets/font/UTM-Aquarelle.ttf');
}