html{
    font-size: 62.5%;
}
body{
    font-family: 'Times New Roman', Times !important;
}
*{
    margin: 0;
    font-family: inherit;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
