$textColor: #818181;
$textHoverColor: #e6ae48;
$textNavColor: #a7a7a7;
$borderColor:#e8e8e8;
$tableBackground: #fafafa;
$inputBackground: #e6e6e6;
$fontUtmCaviar : 'utm-caviar';
$fontUtmAlpineKt: 'utm-alpine-kt';
$fontUvfDidot: 'uvf-didot';
$fontLobster: 'lobster';
$fontUtmAquarelle: 'utm-aquarelle';
$borderDefault: 1px solid $borderColor;
$popoverBorder: 1px solid #9197a3;
$fbBackground: #4965b5;
$twitterColor: #00acee;
$twitterBackground: #e2e2e2;
$likedLogoBorder: 1px solid #cccccc;
$googleColor: #dd4b38;
$linkedinBackground: #0077b5;
$priterestColor: #c02631;
$addressBtnColor: #24c5d9;
$addressFormColor: #202020;
