.main{
    position: relative;
}

.home{
    position: relative;
    @include Responsive(MD){
        display: none;
    }
    img{
        width: 100%;
    }
    div{
        position: absolute;
        height: 400px;
        top: 0%;
        left: 50%;
        width: 50%;
        @include transform(translateX(-35%)) ;
        .name{
            position: absolute;
            font-family: 'utm-aquarelle';
            font-size: 300px;
            color: white;
            opacity: 0.7;
            left: 50%;
            top: 4%;
            @include transform(translateX(-75%));
        }
        .type{
            position: absolute;
            font-family: "uuvf-didot";
            font-size: 60px;
            top: 35%;
            left: 50%;
            color: white;
            opacity: 0.7;
            @include transform(translateX(-50%));
        }
        .year{
            position: absolute;
            font-family: "lobster";
            font-size: 25px;
            top: 77%;
            left: 78%;
            color: white;
            opacity: 0.7;
        }
    }
    
}

.left-decorate{
    position: absolute;
    left: 0;
    top: 0;
    width: 265px;
    @include Responsive(XL){
        width: 200px;
    }
    @include Responsive(SM){
        width: 180px;
    }
    @include Responsive(XS){
        width: 140px;
    }
    img{
        width: 100%;
    }
}

.right-decorate{
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    @include Responsive(XS){
        width: 130px;
    }
    img{
        width: 100%;
    }
}

.content{
    @include flexbox;
    @include justify-content(flex-start);
    @include flex-direction(column)
}

.intro{
    padding: 95px 0;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    @include flex-direction(column);
    @include align-items(center);
    h2{
        font-size: 21px;
    }
    .decorate{
        margin-bottom: 16px;
        margin-top: 0;
    }
    p{
        color: $textColor;
        font-size: 1.6rem;
        width: 80%;
        margin: 0 auto 20px;
    }
}

.special{
    width: 100%;
    max-width: 1200px;
    @include justify-content(center);
    position: relative;
    margin-bottom: 381px;
    @include Responsive(SM){
        margin-bottom: 220px;
    }
    @include Responsive(XS){
        margin-bottom: 65vh;
    }
    @include Responsive(XXS){
        margin-bottom: 52vh;
    }
    .special-img{
        margin-top: 0; 
        img{
            width: 100%;
        }
    }
    .special-content{
        margin-top: 0;
        padding-top: 100px;
        position: absolute;
        top: 50%;
        background-color: white;
        @include flexwrap(wrap);
        @include Responsive(SM){
            padding: 20px;
            .special-thumbnail, .special-info{
                width: 50%;
            }
        }
        @include Responsive(TAB){
            .special-thumbnail, .special-info{
                @include flex(1)
            }
        }
        .special-thumbnail{
            width: 50%;
            @include Responsive(XS){
                width: 100%;
            }
            .special-link{
                text-align: center;
                position: relative;
                padding: 60px;
                @include Responsive(XS){
                    padding-bottom: 20px;
                }
                img{
                    width: 50%;
                }
                .special-label{
                    img{
                        width: 25%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    span{
                        position: absolute;
                        bottom: -70px;
                        @include transform(translateX(-50%));
                        left: 50%;
                        font-size: 1.8rem;
                        color: $textColor;
                    }
                }
            }
        }
        .special-info{
            width: 30%;
            @include Responsive(XS){
                width: 100%;
            }
            .special-name{
                h2{
                    font-size: 2.5rem;
                }
            }
            .special-decorate{
                img{
                    width: 64px;
                    height: 8px;
                }
            }
            .special-price{
                margin-top: 19px;
                margin-bottom: 19px;
                span{
                    font-family: 'utm-caviar';
                    font-size: 3.4rem;
                    color: $textHoverColor;
                }
            }
            .special-btn{
                margin-bottom: 19px;
            }
            .special-desc{
                p{
                    font-size: 1.4rem;
                    margin-bottom: 50px;
                    @include Responsive(MD){
                        font-size: 1.6rem;
                    }
                    @include Responsive(XS){
                        display: none
                    }
                }
            }
            .special-time{
                @include flexbox;
                @include flexwrap(wrap);
                border: 1px solid $textHoverColor;
                @include Responsive(MD){
                    display: none;
                }
                div{
                    width: 50%;
                    height: 88px;
                    @include flexbox;
                    @include flex-direction(column);
                    color: $textHoverColor;
                    span:first-child{
                        font-size: 3.4rem;
                        font-family: 'utm-caviar';
                    }
                    span:last-child{
                        font-size: 1.4rem;
                    }
                    &:first-child, &:nth-child(2){
                        border-bottom: 1px solid $textHoverColor;
                    }
                    &:first-child, &:nth-child(3){
                        border-right: 1px solid $textHoverColor;
                    }
                }
            }
        }
    }
}

.list-product{
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
    h2{
        font-size: 21px;
    }
    .decorate{
        margin-bottom: 46px;
        margin-top: 0;
    }
    .new-wrap{
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        overflow: auto;
        position: relative;
        text-align: center;
        &::-webkit-scrollbar { 
            display: none; 
        }
        ul{
            @include Responsive(MD){
                @include flexwrap(nowrap)
            }
        }
        .next-btn, .prev-btn{
            position: absolute;
            top: 190px;
            width: 20px;
            padding: 0;
            cursor: pointer;
            &:hover{
                color: $textHoverColor;
            }
            i{
                font-size: 2rem;
            }
        }
        .next-btn{
            right: 0;
            text-align: right;
        }
        .prev-btn{
            left: 0;
            text-align: left;
        }
        @include Responsive(MD){
            .next-btn, .prev-btn{
                display: none;
            }
        }
    }
}

.banners{
    margin-bottom: 100px;
    @include Responsive(MD){
        .banners-wrap{
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            &>div{
                @include flexwrap(nowrap);
            }
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
}

.news-comments{
    &>div{
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1200px;
    }
    .decorate{
        margin-bottom: 44px
    }
    a.readmore{
        color: $textNavColor;
        font-size: 1.4rem;
        &:hover{
            color: $textHoverColor;
        }
        @include Responsive(SM){
            font-size: 1.6rem;
        }
    }
    .news{
        @include flexbox;
        flex-direction: column;
        @include Responsive(MD){
            .dots{
                display: none;
            }
        }
        @include Responsive(XS){
            .news-wrap{
                overflow: auto;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
            .dots{
                @include display-flex;
            }
        }
        h2{
            font-size: 2.1rem
        }
        .news-list{
            @include flexbox;
            @include justify-content(flex-start);
            @include flexwrap(nowrap);
            .news-item{
                width: 50%;
                @include Responsive(XS){
                    width: 100%;
                }
                &:first-child{
                    padding-right: 15px;
                }
                &:last-child{
                    padding-left: 15px;
                }
                .news-img{
                    margin-bottom: 22px;
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 100%;
                        @include transition(all 0.3s ease);
                    }
                    &>div{
                        position: absolute;
                        top: 50%;
                        @include transform(translate(-50%, -50%));
                        left: 50%;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        background-color: white;
                        @include flexbox;
                        i{
                            font-size: 1.4rem;
                            color: black;
                        }
                        display: none;
                        &:hover{
                            i{
                                color: $textHoverColor;
                            }
                        }
                    }
                    &::before{
                        content: '';
                        width: 200%;
                        height: 0;
                        position: absolute;
                        background-color: white;
                        opacity: 0.3;
                        top: -100px;
                        left: -300px;
                        @include transform(rotate(-45deg));
                        @include transition(all 0.5s ease)
                    }
                    &:hover::before{
                        height: 240%;
                    }
                    &:hover > div{
                        display: flex;
                    }
                }
                .news-title{
                    font-size: 1.8rem;
                    margin-bottom: 10px;
                }
                span{
                    font-size: 1.2rem;
                    color: $textNavColor;
                    @include Responsive(SM){
                        font-size: 1.4rem;
                    }
                    &:not(:first-child){
                        padding: 0 8px;
                        border-left: 1px solid $borderColor;
                    }
                    &:first-child{
                        padding-right: 8px;
                    }
                }
                p{
                    margin-top: 10px;
                    color: $textColor;
                    font-size: 1.4rem;
                    @include Responsive(SM){
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    .comments{
        @include flexbox;
        @include justify-content(flex-start);
        @include flex-direction(column);
        h2{
            font-size: 2.1rem
        }
        .comment-wrap{
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            .comment-list{
                @include flexbox;
                @include justify-content(flex-start);
                @include flexwrap(nowrap);
            }
        }
        .comment-item{
            text-align: center;
            width: 100%;
            @include Responsive(TAB){
                width: 50%;
            }
            .comment-icon{
                text-align: center;
                margin-bottom: 25px
            }
            p{
                font-size: 1.4rem;
                text-align: center;
                color: $textColor;
                @include Responsive(SM){
                    font-size: 1.6rem;
                }
            }
            .comment-author{
                @include flexbox;
                @include flex-direction(column);
                margin-top: 18px;
                .author-img{
                    width: 100px;
                    height: 100px;
                    @include flexbox;
                    overflow: hidden;
                    margin-bottom: 18px;
                    border-radius: 10px;
                    img{
                        width: 100%
                    };
                }
                .author-name{
                    font-size: 1.4rem;
                }
                .author-job{
                    color: $textNavColor;
                    font-size: 1.2rem;
                    font-style: italic;
                }
            }
        }
        .dots{
            @include display-flex
        }
    }
}