.login-heading {
    @include display-flex;
    @include justify-content(space-between);
    .login-heading-right {
        a {
            width: 120px;
        }
    }
}
.login-content {
    margin-top: 30px;
    border: $borderDefault;
    padding: 56px;
    h3 {
        font-size: 1.8rem;
    }
}
