.main-products {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    .products-content {
        margin-top: 10px;
        .products-category {
            margin-top: 0;
            position: relative;
            @include Responsive(XS) {
                &.show {
                    display: block;
                }
                border: 1px solid $borderColor;
                position: absolute;
                background-color: white;
                height: 100vh;
                overflow-y: auto;
                padding-bottom: 20px;
                z-index: 10;
                margin-top: 15px;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .section-header {
                margin-top: 40px;
                h2 {
                    font-size: 1.6rem;
                }
                &:first-child {
                    margin-top: 0;
                }
                @include Responsive(SM) {
                    margin-top: 20px;
                }
            }
            .section-decorate {
                margin-top: 10px;
                width: 70px;
                &:not(:first-child) {
                    margin-bottom: 30px;
                }
                img {
                    width: 100%;
                }
            }
            .close-category {
                position: absolute;
                top: 10px;
                right: 14px;
                display: none;
                @include Responsive(XS) {
                    display: block;
                }
                a {
                    font-size: 2.4rem;
                    color: $textColor;
                    font-family: sans-serif;
                    font-weight: 700;
                }
            }
            nav {
                margin-top: 30px;
                ul {
                    li {
                        font-size: 1.4rem;
                        font-weight: 700;
                        &:last-child {
                            margin-top: 8px;
                        }
                        ul {
                            li {
                                font-size: 1.4rem;
                                margin-top: 8px;
                                font-weight: 500;
                                @include Responsive(SM) {
                                    font-size: 1.7rem;
                                }
                                &.active {
                                    @include display-flex;
                                    @include align-items(center);
                                    i {
                                        font-size: 0.6rem;
                                        color: $textColor;
                                        margin-right: 6px;
                                    }
                                    a, span, i {
                                        color: $textHoverColor
                                    }
                                }
                                a, span {
                                    color: $textColor;
                                    margin-right: 6px;
                                }
                                &:hover {
                                    a, span, i {
                                        color: $textHoverColor
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .category-compare {
                color: $textColor;
                font-size: 1.4rem;
            }
            .category-tags {
                span {
                    padding: 4px 10px;
                    color: $textColor;
                    font-size: 1.4rem;
                    display: inline-block;
                    border: 1px solid $borderColor;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    min-width: 30px;
                    &:hover {
                        background-color: $textHoverColor;
                        color: white;
                    }
                }
            }
            .category-banners {
                margin-top: 50px;
                @include Responsive(SM) {
                    margin-top: 20px;
                }
            }
        }
        .products-list {
            margin-top: 40px;
            @include Responsive(SM) {
                margin-top: 15px;
            }
            .products-wrap {
                .products-pagination {
                    height: 36px;
                    border-top: 1px solid $borderColor;
                    border-bottom: 1px solid $borderColor;
                    padding-right: 15px;
                    @include display-flex;
                    @include justify-content(space-between);
                    @include align-items(center);
                    &:last-child {
                        @include justify-content(center);
                        margin-top: 20px;
                        display: none;
                        @include Responsive(SM) {
                            display: flex;
                        }
                    }
                    @include Responsive(SM) {
                        height: 46px;
                        padding-right: 0;
                    }
                    .menu-category {
                        display: none;
                        a {
                            font-size: 3rem;
                            color: $textColor;
                            line-height: 36px;
                        }
                        @include Responsive(XS) {
                            display: block;
                        }
                    }
                    .pagination-direction {
                        @include Responsive(XS) {
                            display: none;
                        }
                        padding-left: 15px;
                        a {
                            font-size: 2rem;
                            color: $textColor;
                            line-height: 36px;
                            margin-right: 12px;
                            &.active {
                                color: $textHoverColor;
                            }
                        }
                    }
                    nav {
                        @include display-flex;
                        @include align-items(center);
                        ul {
                            margin-bottom: 0;
                        }
                        a {
                            color: $textColor;
                            font-size: 1.4rem;
                            border: none;
                            &.active {
                                color: $textHoverColor;
                            }
                            @include Responsive(SM) {
                                font-size: 1.8rem;
                                padding-left: 14px;
                                padding-right: 14px;
                            }
                        }
                    }
                }
                ul {
                    margin-top: 0;
                    .product__item {
                        @include Responsive(mMD) {
                            width: 33.33333%;
                        }
                        @include Responsive(MD) {
                            &:nth-child(7),&:nth-child(8),&:nth-child(9) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
