extends ../layouts/layout

block content
	.main-address.main-content
		section.direction
			+breadcrumb(addressBreadcrumbItems)
		section.address-heading
			+sectionHeader("ĐỊA CHỈ")
		section.address-content
			.address-wrap.row.g-5
				.address-form-list.col-xl-6
					h3 ĐỊA CHỈ CỦA BẠN
					.address-list
						+addressForm({ list: addressFormFields })
						+addressForm({ list: addressFormFields, isDisable: "true" })
						+addressForm({ list: addressFormFields, isDisable : "true" })
				.address-form-add.col-xl-6
					a(href="javascript:void(0)") Thêm địa chỉ
					+addressForm({ list: addressFormFields, type: "add" })
