.news-list {
    @include flexbox;
    @include justify-content(flex-start);
}
.news-item {
    .news-img {
        margin-bottom: 22px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            @include transition(all 0.3s ease);
        }
        & > div {
            @include transform(translate(-50%, -50%));
            @include flexbox;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: white;
            display: none;
            i {
                font-size: 1.4rem;
                color: black;
            }
            &:hover {
                i {
                    color: $textHoverColor;
                }
            }
        }
        &::before {
            content: '';
            width: 200%;
            height: 0;
            position: absolute;
            background-color: white;
            opacity: 0.3;
            top: -100px;
            left: -300px;
            @include transform(rotate(-45deg));
            @include transition(all 0.5s ease)
        }
        &:hover::before {
            height: 240%;
        }
        &:hover > div {
            @include display-flex;
        }
    }
    .news-title {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    span {
        font-size: 1.2rem;
        color: $textNavColor;
        @include Responsive(SM) {
            font-size: 1.6rem;
        }
        &:not(:first-child) {
            padding: 0 8px;
            border-left: $borderDefault;
        }
        &:first-child {
            padding-right: 8px;
        }
    }
    p {
        margin-top: 10px;
        color: $textColor;
        font-size: 1.4rem;
    }
    a {
        color: $textNavColor;
        font-size: 1.4rem;
        @include Responsive(SM) {
            font-size: 1.8rem;
        }
    }
}
