

.btn{
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: unset;
    &.btn-addto-card{
        background-color: black;
        color: white;
        font-family: 'Times New Roman', Times;
        height: 30px;
        min-width: 122px;
    }
    &.btn-send-mail{
        background-color: black;
        color: white;
        width: 60px;
        height: 29px;
        position: relative;
        &::before{
            content: '';
            border-width: 14.5px 16px;
            border-style: solid;
            border-color: transparent transparent transparent black;
            position: absolute;
            left: 100%;
            top:0
        }
        @include Responsive(SM){
            &::before{
                border-width: 20px;
            }
        }
    }
    &.btn-see-more{
        background-color: black;
        color: white;
        font-family: 'Times New Roman', Times;
        height: 30px;
        width: 122px;
        margin-top: 10px;
    }
    @include Responsive(SM){
        font-size: 1.6rem;
        min-height: 40px;
    }
    &:hover{
        background-color: $textHoverColor;
    }
}