
.dots{
    width: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    @include flexbox;
    @include justify-content(space-between);
    display: none;
    @include Responsive(MD){
        @include display-flex;
    }
    .dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $textColor;
        &.active{
            background-color: $textHoverColor;
        }
    }
}