.form {
    margin-top: 0;
    .form-message {
        font-size: 1.4rem;
        color: $textColor;
    }
    .form-group {
        margin-bottom: 15px;
        @include display-flex;
        @include align-items(baseline);
        label {
            width: 100px;
            font-size: 1.4rem;
            color: $textColor;
            @include Responsive(SM) {
                font-size: 1.7rem;
            }
        }
        input, textarea, select {
            background-color: $tableBackground;
            border: $borderDefault;
            height: 40px;
            font-size: 1.4rem;
            padding-left: 10px;
            @include flex(1);
        }
        input[type=checkbox] {
            margin: 0 10px 0px 100px;
            @include flex(unset);
            @include Responsive(XS) {
                width: unset;
                margin-left: 0;
            }
        }
        textarea {
            height: 160px;
        }
        button[type=submit] {
            margin-left: 100px;
            width: 70px;
            @include Responsive(XS) {
                width: 100%;
                margin-left: 0
            }
        }
        &.form-group-checkbox {
            margin-bottom: 22px;
            @include align-items(center);
            @include Responsive(XS) {
                @include flex-direction(row);
            }
            label {
                width: unset;
                @include Responsive(XS) {
                    margin-bottom: 0;
                }
            }
        }
        &.label-xs-width-unset {
            @include Responsive(XS) {
                label {
                    width: unset;
                }
            }
        }
        @include Responsive(XS) {
            @include flex-direction(column);
            label {
                font-size: 1.8rem;
                margin-bottom: 6px
            }
            input, textarea {
                width: 100%;
                font-size: 1.6rem;
                @include flex(unset);
            }
        }
    }
    &.login-form, &.signup-form {
        .form-message {
            margin-bottom: 50px;
            margin-top: 20px;
            @include Responsive(XS) {
                margin-bottom: 26px;
            }
        }
        .form-group {
            a {
                margin-left: 100px;
                font-size: 1.6rem;
                color: $textColor;
                text-decoration: underline;
                @include Responsive(XS) {
                    margin-left: 0;
                }
            }
            button[type=submit] {
                width: 120px;
                @include Responsive(SM) {
                    width: 150px;
                }
            }
        }
    }
    &.signup-form {
        .form-group:last-child {
            @include justify-content(flex-end);
            @include Responsive(XS) {
                @include flex-direction(row);
            }
            a {
                margin-left: 10px;
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                width: 120px;
                @include Responsive(SM) {
                    width: 150px;
                    font-size: 1.6rem;
                }
            }
        }
        h3 {
            margin-bottom: 12px;
        }
    }
    &.address-form {
        padding-bottom: 30px;
        margin-top: 30px;
        .form-group:last-child {
            margin-bottom: 0;
            button[type=submit] {
                width: 160px;
                margin-right: 10px;
            }
            button {
                font-size: 1.6rem;
            }
            @include Responsive(XS) {
                @include flex-direction(row)
            }
        }
        .form-group {
            input, select {
                background-color: white;
                font-size: 1.6rem;
            }
            a {
                font-size: 1.8rem;
                text-decoration: underline;
                color: $addressBtnColor;
            }
            label {
                color: $addressFormColor;
            }
            select {
                @include Responsive(XS) {
                    @include flex(unset);
                    width: 100%;
                }
            }
        }
        &--disable {
            .form-group:last-child {
                margin-bottom: 0;
                @include justify-content(flex-end);
            }
            input {
                border: none;
                color: $addressFormColor;
                background-color: $tableBackground !important;
            }
        }
    }
    &.blog-comment-form {
        margin-top: 50px;
        h3 {
            font-style: italic;
            margin-bottom: 20px;
            @include Responsive(SM) {
                font-size: 1.8rem;
                font-weight: 600;
            }
        }
        label {
            font-style: italic;
            width: 60px;
            @include Responsive(SM) {
                font-size: 1.6rem;
            }
        }
        button[type=submit] {
            margin-left: 60px;
            @include Responsive(XS) {
                margin-left: 0;
            }
        }
    }
}
