.form {
    margin-top: 0;
    .form-message {
        font-size: 1.4rem;
        color: $textColor;
    }
    .form-group {
        @include display-flex;
        margin-bottom: 15px;
        @include align-items(baseline);
        label {
            width: 100px;
            font-size: 1.4rem;
            color: $textColor;
        }
        input, textarea {
            background-color: #fafafa;
            border: $borderDefault;
            @include flex(1);
            height: 40px;
            font-size: 1.4rem;
        }
        textarea {
            height: 160px;
        }
        button[type=submit] {
            margin-left: 100px;
            width: 70px;
            @include Responsive(XS) {
                width: 100%;
                margin-left: 0
            }
        }
        @include Responsive(XS) {
            @include flex-direction(column);
            label {
                font-size: 1.8rem;
                margin-bottom: 6px
            }
            input, textarea {
                @include flex(unset);
                width: 100%;
                font-size: 1.6rem;
            }
        }
    }
    &.login-form {
        .form-message {
            margin-bottom: 50px;
            margin-top: 20px;
        }
        .form-group {
            a {
                margin-left: 100px;
                font-size: 1.6rem;
                color: $textColor;
                text-decoration: underline;
                @include Responsive(SM) {
                    margin-left: 0;
                }
            }
            button[type=submit] {
                width: 120px;
                @include Responsive(SM) {
                    width: 150px;
                }
            }
        }
    }
}
