
.footer {
    .footer-wrap{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        .footer-brand {
            margin-top: 84px;
            text-align: center;
            margin-bottom: 57px;
            img{
                width: 100%;
            }
        }
        .footer-content {
            .footer-item{
                @include Responsive(XS){
                    text-align: center;
                }
                h2{
                    margin-bottom: 18px;
                    font-size: 1.8rem;
                    color: black;
                    letter-spacing: 2px;
                }
                &:nth-child(3) h2{
                    margin-bottom: 15px;
                }
                &:last-child h2{
                    margin-bottom: 10px;
                }
                ul{
                    li{
                        font-size: 1.2rem;
                        margin-bottom: 8px;
                        @include Responsive(SM){
                            font-size: 1.4rem;
                        }
                        @include Responsive(XS){
                            margin-bottom: 12px;
                        }
                        a{
                            color: $textColor;
                        }
                        &:hover{
                            a{
                                color: $textHoverColor;
                            }
                        }
                    }
                }
                form{
                    margin-bottom: 35px;
                    p{
                        font-size: 1.4rem;
                        color: $textColor;
                    }
                    div{
                        margin-top: 24px;
                        @include align-items(center);
                        @include Responsive(XS){
                            @include justify-content(center)
                        }
                        input{
                            display: block;
                            padding-left: 15px;
                            width: 224px;
                            height: 29px;
                            font-size: 1.2rem;
                            font-style: italic;
                            color: $textColor;
                            border: 1px solid $borderColor;
                            border-right: none;
                            @include Responsive(SM){
                                font-size: 1.6rem;
                                height: 40px;
                            }
                        }
                    }
                }
                .footer-link{
                    i{
                        font-size: 12px;
                        color: $textColor;
                        margin-right: 12px;
                        &:hover{
                            color: $textHoverColor;
                            cursor: pointer;
                        }
                        @include Responsive(SM){
                            font-size: 2rem;
                            padding: 0 12px;
                        }
                    }
                }
                div {
                    width: 272px;
                    @include align-items(baseline);
                    color: $textColor;
                    margin-bottom: 8px;
                    @include Responsive(XS){
                        width: 100%;
                    }
                    i{
                        margin-right: 8px;
                        font-size: 1.2rem;
                        &.fa-envelope{
                            margin-right: 4px;
                        }
                    }
                    p{
                        font-size: 1.4rem;
                        margin-bottom: 0;
                        line-height: 2.2;
                    }
                    span{
                        font-size: 1.4rem;
                        margin-right: 8px;
                        a{
                            color: $textHoverColor;
                        }
                    }
                }
            }
        }
    }
    .footer-copyright{
        margin-top: 40px;
        border-top: 1px solid $borderColor;
        padding: 12px 0;
        .footer-wrap{
            height: 100%;
            margin: 0 auto;
            @include align-items(center);
            div{
                height: 100%;
                @include Responsive(XS){
                    @include justify-content(center);
                    &.row{
                        flex-direction: column-reverse;
                    }
                    .copyright{
                        margin-top: 10px;
                    }
                }
                .copyright{
                    font-size: 1.2rem;
                    color: $textColor;
                }
                .paylist{
                    i{
                        font-size: 3.4rem;
                        margin-right: 24px;
                        color: $textColor;
                    }
                }
            }
        }
    }
}